@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(0, 60, 151, 1);

  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.w-t-header.is-open .w-t-header-background {
  left: 0;
}
.w-t-header-button-wrapper {
  margin-left: auto;
}
.w-t-header-icon {
  display: none;
}
.w-t-title-img {
  width: 50px;
  height: 50px;
}
.w-t-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.w-t-navigation-list.is-open {
  right: 0;
}
.w-t-header-icon-menu {
  display: block;
}

.w-t-header-icon-button.is-open .w-t-header-icon-menu {
  display: none;
}

.w-t-header-icon-button.is-open .w-t-header-icon-close {
  display: block;
}

.w-t-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 84px;
}

.w-t-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(255, 255, 255, 1);
}
.w-t-header.is-open .w-t-header-background {
  left: 0;
}
.w-t-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.w-t-header-icon-menu {
  display: block;
}

.w-t-header-icon-button.is-open .w-t-header-icon-menu {
  display: none;
}

.w-t-header-icon-button.is-open .w-t-header-icon-close {
  display: block;
}

.w-t-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.w-t-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 32px;
  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(255, 255, 255, 1);
}

.w-t-navigation-list.is-open {
  right: 0;
}

.w-t-navigation-link {
  font-family: Mulish;
  font-weight: 500;
  font-size: 20px;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.w-t-navigation-link:hover,
.w-t-navigatioт-link:focus {
  font-weight: 700;
  font-size: 24px;
}

.w-t-header.is-open {
  background-color: transparent;
}

.w-t-navigation-img {
  display: none;
}

@media screen and (min-width: 1193px) {
  .w-t-navigation-img {
    display: flex;
    width: 80px;
    height: 80px;
  }
  .w-t-policy-terms-header-icon-menu {
    display: none;
  }

  .w-t-header {
    width: 100%;
    height: 108px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgba(0, 89, 178, 1);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  }

  .w-t-header-background {
  }
  .w-t-header-icon-button {
    display: none;
  }
  .w-t-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .w-t-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 36px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .w-t-navigation-link {
    font-weight: 600;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }

  .w-t-navigation-item-desk {
    display: none;
  }
}
.w-t-home {
  width: 375px;
  height: 806px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 276.png");
  margin: auto;
}
.w-t-home-container {
  width: 375px;
  padding: 321px 16px 0px;
  margin: auto;
}

.w-t-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-t-home-title {
  width: 238px;
  margin-bottom: 20px;
}

.w-t-home-google-button-image {
  width: 208px;
  height: 54px;
}

.w-t-home-google-button-link:hover .w-t-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1193px) {
  .w-t-home {
    width: 1440px;
    height: 919px;
    background-image: url("/img/home/Frame\ 277.png");
  }
  .w-t-home-container {
    width: 1440px;
    padding: 338px 96px 0px;
  }
  .w-t-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .w-t-home-title {
    width: 504.0404968261719px;
    content: url("/img/home/Group\ 5\ \(1\).png");
    margin-bottom: 24px;
  }
  .w-t-home-google-button-image {
    content: url("/img/home/Store\ download\ button\ \(1\).png");
    width: 270px;
    height: 60px;
  }
}

.w-t-about-container {
  width: 375px;
  padding: 80px 20px 0;
  margin: auto;
  position: relative;
}
.w-t-about-title {
  font-family: Mulish;
  font-weight: 900;
  font-style: italic;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 6px transparent;
  background: linear-gradient(90deg, #565af4 0%, #fe41c7 100%);
  -webkit-background-clip: text;
  background-clip: text;
  mask-image: linear-gradient(90deg, #565af4 0%, #fe41c7 100%);
  -webkit-mask-image: linear-gradient(90deg, #565af4 0%, #fe41c7 100%);
  transform: rotate(-5.53deg);
}
.w-t-about-text {
  font-family: Mulish;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

  padding-top: 32px;
}
.w-t-about-img {
  position: absolute;
  top: -20px;
  right: 1px;
  width: 357.0487976074219px;
}
@media screen and (min-width: 1193px) {
  .w-t-about-container {
    width: 1440px;
    padding: 120px 177px;
    margin: auto;
  }
  .w-t-about-img {
    position: absolute;
    top: -20px;
    right: 1px;
    width: 637.1343383789062px;
  }
  .w-t-about-title {
    font-family: Mulish;
    font-weight: 800;
    font-style: italic;
    font-size: 40px;
  }
  .w-t-about-text {
    font-family: Mulish;
    font-weight: 400;
    font-size: 24px;
    text-align: center;

    padding-top: 50px;
  }
}

.w-t-why-container {
  width: 375px;
  margin: auto;
  padding: 80px 20px 0;
}

.w-t-why-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.w-t-why-item {
  font-family: Mulish;
  font-weight: 400;
  font-size: 16px;

  color: rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 336px;
  height: 152px;
  gap: 16px;
  border-radius: 24px;
  padding: 16px;
  border: 3px solid #fe41c7;
  box-shadow: 4px 4px 19.8px 0px rgba(245, 171, 162, 0.21);
}

@media screen and (min-width: 1193px) {
  .w-t-why-container {
    width: 1440px;
    padding: 120px 108px 0;
  }

  .w-t-why-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .w-t-why-item {
    width: 392px;
    height: 186px;
    gap: 24px;
    border-radius: 24px;
    padding: 16px;
    font-family: Mulish;
    font-weight: 400;
    font-size: 24px;
    flex-direction: row;
  }
}

.w-t-how-container {
  margin: auto;
  width: 375px;
  padding: 80px 0px 0;
}
.w-t-how-list {
  padding-top: 32px;
}

.w-t-how-item {
  width: 235.08819580078125px;
  height: 411.352783203125px;
  padding: 53px 0 0;
}
.w-t-how-item-text {
  font-family: Mulish;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
}
.w-t-how-item-img {
  width: 235.08819580078125px;
}
.w-t-how-items {
  height: 411.352783203125px;
}
@media screen and (min-width: 1193px) {
  .w-t-how-container {
    margin: auto;
    width: 1440px;
    padding: 120px 0px 0;
  }
  .w-t-how-list {
    padding-top: 50px;
  }

  .w-t-how-item {
    height: 533px;
    width: 355px;
    padding: 38px 0 0;
  }
  .w-t-how-item-text {
    font-family: Mulish;
    font-weight: 400;
    font-size: 24px;
    text-align: center;

    margin-top: 30px;
  }
  .w-t-how-item-img {
    width: 355px;
  }
  .w-t-how-items {
    content: url("/img/how/Line\ 3.png");
    height: 547px;
    width: 90px;
  }
}

.w-t-reviews-container {
  margin: auto;
  padding: 80px 20px;
  width: 375px;
}
.w-t-reviews-lists {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  gap: 24px;
}
.w-t-reviews-list {
  display: none;
}
.w-t-reviews-item {
  background: linear-gradient(89.99deg, #9987ef 0.01%, #f893dc 99.99%);
  width: 339px;
  height: 115px;
  border-radius: 24px;
  padding: 24px;
  color: rgba(0, 0, 0, 1);
}

.w-t-reviews-text-bold {
  font-family: Mulish;
  font-weight: 700;
  font-size: 16px;
}

.w-t-reviews-text {
  font-family: Mulish;
  font-weight: 400;
  font-size: 16px;
  padding-top: 7px;
}

@media screen and (min-width: 1193px) {
  .w-t-reviews-container {
    margin: auto;
    padding: 120px 212px;
    width: 1440px;
  }
  .w-t-reviews-lists {
    display: none;
  }
  .w-t-reviews-list {
    display: block;
    margin-top: 50px;
  }
  .w-t-reviews-item {
    width: 639px;
    height: 175px;
    border-radius: 38px;
    padding: 24px;
    margin: 0 12px;
  }

  .w-t-reviews-text-bold {
    font-family: Mulish;
    font-weight: 700;
    font-size: 24px;
  }

  .w-t-reviews-text {
    font-family: Mulish;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.w-t-faq-container {
  padding: 80px 20px 0;
  width: 375px;
  margin: auto;
  position: relative;
}
.w-t-faq-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.w-t-faq-item {
  border-radius: 16px;
  padding: 21px;
  border: 3px solid rgba(86, 90, 244, 1);
  color: rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 1);
}

.w-t-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Mulish;
  font-weight: 600;
  font-size: 16px;
}

.w-t-faq-answer {
  display: none;
  padding-top: 16px;
  font-family: Mulish;
  font-weight: 400;
  font-size: 16px;
}
.w-t-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}
.w-t-toggle-button img {
  transition: transform 0.3s ease;
}
.w-t-faq-i {
  height: 481.86852939430963px;
  position: absolute;
  top: 430px;
  right: 0;
}
@media screen and (min-width: 1193px) {
  .w-t-faq-container {
    padding: 120px 387px 0;
    width: 1440px;
    margin: auto;
  }
  .w-t-faq-i {
    position: absolute;
    top: -130px;
    right: 0;

    height: 859.8685680475492px;
  }
  .w-t-faq-list {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .w-t-faq-item {
    border-radius: 16px;
    padding: 21px;
    border: 3px solid #69c3e9;

    background: rgba(255, 255, 255, 1);
    box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.25);
  }

  .w-t-faq-question {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .w-t-faq-answer {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.w-t-gallery-container {
  width: 375px;
  margin: auto;
  padding: 80px 0px 0;
}
.w-t-gallery-list {
  margin-top: 32px;
  height: 282px;
}

.w-t-gallery-item {
  width: 110px;
  height: 196px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.w-t-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.w-t-gallery-list .slick-slide {
  width: 110px;
  height: 196px;

  transition: transform 0.6s ease-in-out, width 0.6s ease-in-out,
    height 0.6s ease-in-out;
}

.w-t-gallery-list .slick-slide.slick-center {
  width: 159px;
  height: 282px;

  z-index: 2;
}

@media screen and (min-width: 1193px) {
  .w-t-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 120px 0 0px;
  }
  .w-t-gallery-item {
    width: 244px;
    height: 434px;

    margin: 0 10px;
  }

  .w-t-gallery-list {
    padding: 0px;
    margin-top: 50px;
    height: 624px;
  }
  .w-t-gallery-list .slick-slide {
    width: 244px;
    height: 434px;

    transition: transform 0.6s ease-in-out, width 0.6s ease-in-out,
      height 0.6s ease-in-out;
  }

  .w-t-gallery-list .slick-slide.slick-center {
    width: 351px;
    height: 624px;

    z-index: 2;
  }
}

.w-t-policy-terms-container {
  padding: 148px 20px 40px;
  width: 375px;
  margin: auto;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.w-t-policy-terms-container h1 {
  font-family: Mulish;
  font-weight: 900;
  font-style: italic;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 6px transparent;
  background: linear-gradient(90deg, #565af4 0%, #fe41c7 100%);
  -webkit-background-clip: text;
  background-clip: text;

  mask-image: linear-gradient(90deg, #565af4 0%, #fe41c7 100%);
  -webkit-mask-image: linear-gradient(90deg, #565af4 0%, #fe41c7 100%);
  transform: rotate(-5.53deg);
  margin-bottom: 36px;
}
.w-t-policy-terms-container h2 {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  margin-top: 20px;
}
.w-t-policy-terms-container ul {
  list-style-type: disc;
  margin: 0px 0 0 20px;
}

.w-t-email-link {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1193px) {
  .w-t-policy-terms-container {
    padding: 218px 108px 60px;
    width: 1440px;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .w-t-policy-terms-container h1 {
    font-family: Mulish;
    font-weight: 800;
    font-style: italic;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;

    margin-bottom: 48px;
  }
  .w-t-policy-terms-container h2 {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

    margin-top: 20px;
  }
  .w-t-policy-terms-container ul {
    list-style-type: disc;
    margin: 0px 0 0 20px;
  }

  .w-t-email-link {
    color: inherit;
    text-decoration: none;
  }
}

.w-t-footer-container {
  width: 375px;
  padding: 18px 39px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.w-t-footer-wrapper {
  display: flex;
  flex-direction: column-reverse;

  gap: 24px;
}

.w-t-footer-text {
  color: inherit;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

.w-t-footer-copyright {
  font-family: Mulish;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1193px) {
  .w-t-footer-container {
    width: 1440px;
    padding: 18px 199px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .w-t-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 19px;
  }

  .w-t-footer-text {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .w-t-footer-copyright {
    font-family: Mulish;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;
  }
}

.w-t-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 28px;
  background: rgba(255, 255, 255, 1);

  z-index: 1000;
  display: none;
}

.w-t-cookie-popup-text-two {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;

  color: rgba(0, 0, 0, 1);
}

.w-t-cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.w-t-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 3px 0px rgba(135, 97, 76, 1);

  width: 319px;
  border-radius: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: Open Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

#accept-cookies {
  background: rgba(0, 60, 151, 1);

  color: rgba(255, 255, 255, 1);
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.w-t-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1193px) {
  .w-t-cookie-popup-text-two {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .w-t-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
  }

  .w-t-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 108px;
    display: none;
  }
}
